.chat-list{
    max-height: 300px;
    overflow-y: scroll;
}

.bg-chat-light {
    background-color: #24b9b9;
    display: flex;
    justify-content: flex-start;
}
.bg-chat-dark {
    background-color: #b1cce3;
    display: flex;
    justify-content: flex-end;
}

.nav-link.active {
    background-color: white;
}
.cusror-pointer{
 cursor: pointer;
}

/* my css */
.navbar-expand-lg .navbar-nav {
    width: 100%;
  }
  .navbar-nav li.nav-item {
    width: 25%;
    border: 1px solid;
    text-align: center;
  }
  .pd-0 {
    padding: 0;
  }
  .disabled {
    cursor: not-allowed;
    color: gray;
    opacity: 0.4;
  }
  .form-style .form-control {
    margin-bottom: 20px;
  }
  .container {
    padding: 30px 0 0 0;
  }
  .form-style .col-form-label {
    text-align: right;
  }
  li.nav-item.active {
    background-color: #fff;
    font-weight: 600;
  }
  .message-box {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  .chat_box {
    width: 70%;
    margin: 0 10px;
  }
  .user_title {
    font-weight: 600;
  }
  .message-list {
    margin-bottom: 5px;
  }
  .message-list.text-right {
    text-align: right;
  }
  